{% extends "base.html" %}


{% block title %}
	Nueva contraseña | {{request.user.first_name}}
{% endblock title %}


{% block content %}
	<div class="container">
		<div class="mb-3"></div>
		<div class="modal modal-signin position-static d-block bg-light py-5" tabindex="-1" role="dialog" id="modalSignin">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content rounded-5 shadow">
		      <div class="modal-header text-center p-3 pb-3 border-bottom-0">
		        <!-- <h5 class="modal-title">Modal title</h5> -->
		        <h2 class="fw-bold mb-0 mx-auto">Actualizar contraseña</h2>
		      </div>

		      <div class="modal-body p-3 pt-0">
		        <form method="POST"> {% csrf_token %}
		        	{% if form.errors %}

		        		<div class="alert alert-danger alert-dismissible d-flex" role="alert">
		        			<div>
		        				{{ form.errors }}
		        			</div>	
		        			<button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>		
		        		</div>
		        		
		        	{% endif %}
		        	<div class="form-floating mb-3">
			        	{{form.password_new_1}}
			        	{{form.password_new_1.label_tag}}

			        	{% if form.password_new_1.errors %}
				        	<div class="invalid-feedback">
				              {{form.password_new_1.errors}}
				            </div>
			        	{% endif %}
		        	</div>
		        	<div class="form-floating mb-3">
			        	{{form.password_new_2}}
			        	{{form.password_new_2.label_tag}}

			        	{% if form.password_new_2.errors %}
				        	<div class="invalid-feedback">
				              {{form.password_new_2.errors}}
				            </div>
			        	{% endif %}
		        	</div>
		        	<div class="form-floating mb-3">
			        	{{form.password_act}}
			        	{{form.password_act.label_tag}}

			        	{% if form.password_act.errors %}
				        	<div class="invalid-feedback">
				              {{form.password_act.errors}}
				            </div>
			        	{% endif %}
		        	</div>


		          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Actualizar</button>
		          
		        </form>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="mb-3"></div>
	</div>


{% endblock content %}